
/*-----------------------------------------------------------------------------
	Globals - System Messages
-----------------------------------------------------------------------------*/

#notice {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 4px 18px 0;
	border-bottom: 1px solid #bfbfb7;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.6;
	background: #efefed;
	height: 20px;
}
#notice.error {
	background-color: #fff9a2;
	border-color: #e7a973;
}
#notice.success {
	background-color: #bfdc96;
	border-color: #90c349;
}
#notice.silence {
	background: #e4e4e0;
	border-top-color: #979792;
	border-bottom-color: #777;
	color: #555;
}
#notice a,
#notice button {
	color: rgba(0, 0, 0, 0.7);
	margin-left: 0.5em;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#notice a:hover,
#notice button:hover {
	color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-decoration: none;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------*/

body, html {
	height: 100%;
}
#wrapper {
	position: relative;
	min-height: 100%;
}
#header {
	color: #fff;
	position: relative;
}
#header h1 {
	background: #282828;
	padding: 18px;
	text-shadow: -1px 2px 3px #111;
	font-weight: normal;
	line-height: 1;
	z-index: 10;
	position: relative;
}
#header h1 a {
	color: #f1f1f1;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
}

/*-----------------------------------------------------------------------------
	Header: Navigation
-----------------------------------------------------------------------------*/

#nav {
	z-index: 10;
	margin: 0;
	background-color: #d7d7d2;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom, 
		color-stop(0, #efefed), 
		color-stop(1, #d7d7d2)
	);
	background: -moz-linear-gradient(
		top,
		#efefed,
		#d7d7d2
	);
	border-bottom: 1px solid #bfbfb7;
	-webkit-box-shadow: 0 0 2px #a7a79c;
	-moz-box-shadow: 0 0 2px #a7a79c;
	box-shadow: 0 0 2px #a7a79c;
	height: 30px;
	list-style: none;
	padding: 0 0 0 8px;
	white-space: nowrap;
	font-size: 12px;
	display: block;
	position: relative;
}

#nav > li {
	border-top: 1px solid transparent;
	color: #555;
	color: hsla(0, 0%, 0%, 0.65);
	display: block;
	float: left;
	height: 29px;
	line-height: 30px;
	padding: 0 10px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	z-index: 3;
	cursor: pointer;
}
#nav > li.active {
	background-color: #5c83ba;
	background: -moz-linear-gradient(
		top,
		#6f92c2,
		#4d78b4
	);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #6f92c2),
		color-stop(1, #4d78b4)
	);
	border-top: 1px solid #93add1;
	border-bottom: 1px solid #808080;
	color: #fff;
	text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.2);
	z-index: 5;
	height: 29px;
}
#nav > li:hover {
	background-color: #3e3e3e;
	background: -moz-linear-gradient(
		top,
		#595959,
		#3e3e3e
	);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #595959),
		color-stop(1, #3e3e3e)
	);
	border-top: 1px solid #6a6a6a;
	border-bottom: 1px solid #808080;
	color: #fff;
	text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.5);
	z-index: 2;
	height: 29px;
}
#nav ul {
	margin: 0;
	padding: 0;
	display: none;
	background: rgba(250, 250, 250, 0.95);
	border: 1px solid rgba(68, 68, 68, 0.2);
	border-top: none;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	list-style: none;
	left: 0;
	min-width: 120px;
	position: absolute;
	top: 30px;
	font-size: 12px;
	text-shadow: 1px 1px 0 #fff;
}
#nav li:hover ul {
	display: block;
}
#nav ul a {
	color: rgb(68, 68, 68);
	display: block;
	font-weight: normal;
	padding: 0 10px;
	text-decoration: none;
}
#nav ul a:hover {
	margin-left: -1px;
	margin-right: -1px;
	background: #6a6a6a;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	border-color: rgba(255, 255, 255, 0.8);
}
#nav ul,
#nav ul li:last-child a {
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
