/*-----------------------------------------------------------------------------
	Globals - Classes & UI components
-----------------------------------------------------------------------------*/

/*--- Common ---*/

.code {
	font: 134%/1.3 monospace;
}
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.selected, .selected a, .selected .inactive {
	color: #fff;
}
.selected a:hover {
	color: #f2f2f2;
}
.help {
	color: #887;
}
p.label {
	margin: 0 0 2px;
}
span.frame {
	display: block;
	margin-bottom: 1.5em;
	border: 1px solid #e4e4de;
	padding: 12px;
	background-color: #f5f5f3;
	text-align: center;
}
span.frame code {
	color: #919183;
}

/*--- Tags/suggestion list ---*/

ul.tags {
	margin: -0.75em 0 1.5em 0;
	padding: 0;
	color: #887;
	list-style: none;
}
ul.tags li {
	display: inline;
	padding: 0 6px 0 0;
	border-top: none;
	word-spacing: -1px;
	cursor: pointer;
	font-size: 90.91%;
}
ul.tags li:hover {
	color: #554;
}
ul.tags li.more {
	color: #5072bf;
	text-decoration: underline;
}
ul.tags .more:hover {
	color: #222;
}

/*--- Group ---*/

.group {
	position: relative;
	right: -0.75em;
	margin: 0 0 0 -1.5em;
	padding: 0 0.75em 0 3.65em;
}
.group:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
.group > * {
	float: left;
	margin-left: 2.95em;
	width: 50%;
}
.group > *:first-child {
	margin-left: -2.95em;
}
.group > input[type=hidden]:first-child + * {
	margin-left: -2.95em;
}
.group label > i,
.secondary label > i {
	max-width: 45%;
	height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: help;
	float: right;
}
.group label > i:hover,
.secondary label > i:hover {
	white-space:normal;
	height:auto;
	background: rgba(255, 255, 255, 0.8);
}

/*--- Triple ---*/

.triple {
	padding: 0 0 0 72px;
}
.triple > * {
	width: 33%;
}
.triple > *:first-child {
	margin-left: -64px;
}

/*--- Compact ---*/

div.compact:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
div.compact label {
	float: left;
	width: 50%;
	min-width: 250px;
	margin-right: 1.5em;
}
div.compact label:nth-of-type(even) {
	max-width: 45%;
}
div.compact label i {
	max-width: 100%;
	height: auto;
	white-space: normal;
	overflow: none;
	text-overflow: auto;
	float: none;
	color: #887;
	display: block;
	position: static;
	padding-left: 1.75em;
}

/*--- Settings ---*/

fieldset.settings {
	position: relative;
	padding: 1em 0 1em 275px;
	margin: 0 0 1em;
	border-top: 1px solid #ddc;
}
fieldset.settings > legend {
	float: left;
	margin-bottom: -3em;
	padding: 0;
	color: #665;
	text-indent: -275px;
}
fieldset.settings > label {
	clear: left;
}
fieldset.settings select {
	width: 100%;
}
fieldset.settings p.help {
	margin: -0.5em 0 1.5em;
	color: #887;
}
fieldset.settings li .label {
	margin: 1em 0 1.25em;
}
fieldset.settings:first-child {
	border-top: none;
}
fieldset.settings > legend + .help {
	position: absolute;
	margin: 1.75em 0 0 -275px;
	width: 22em;
}
fieldset.settings > legend + .help p {
	margin: 0 0 1.5em;
}
fieldset.settings > *:first-child {
	margin-top: 0;
}
fieldset.settings fieldset {
	margin-top: 0.5em;
	padding-bottom: 0;
	border-top: 1px solid #ddc;
}
fieldset.settings fieldset legend {
	display: inline;
	margin: 0 0 0 -0.5em;
	padding: 0 0.75em 0 0.5em;
	font-weight: normal;
	line-height: 1.5;
	text-indent: 0;
	background: #fff;
	color: #665;
}

/*--- Settings: Pickable ---*/

.active .settings.picker {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.active .settings.pickable {
	border-top: 0;
	padding-top: 0;
}
.active .settings.pickable legend {
	display: none;
}

/*--- Settings: Duplicator ---*/

.settings .duplicator {
	margin-bottom: 1.5em;
}
.settings .duplicator fieldset {
	border-top: 1px solid #eed;
}
.settings .duplicator legend {
	background: #DDC;
	color: #665;
}
.settings .duplicator .group label > i:hover {
	white-space:normal;
	height:auto;
	background: rgba(221, 221, 204, 0.8);
}

