/*-----------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------*/

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 1.75em 19px;
	background: #353530 url("images/navigation.png") 0 -95px repeat-x;
	text-align: right;
	text-shadow: -1px 2px 3px #111;
	color: #fff;
}
#footer:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
#version,
#usr,
#usr li {
	margin: 0;
	padding: 0
}
#version {
	color: #A5A5A0;
	float: left;
}
#usr li {
	display: inline;
	padding-left: 12px;
}
#usr a {
	padding: 5px;
	border: none;
	text-decoration: none;
	color: #fff;
}
#usr a:hover {
	color: #ccb;
}
